*.sqlite3
config/initializers/action_mailer_settings.rb
config/deploy.rb
db/schema.rb
config/database.yml
config/locomotive.yml
config/mongrel_cluster.yml
config/thin.yml
tmp/*
log/*
private/images/*
public/cache/*
.DS_Store

/tmp/**/*
/log/*
*.log
/tmp/restart.txt
/config/amazon_s3.yml
/config/config.yml
/config/database.yml
/config/smtp.yml
/config/deploy.rb
/db/*.sqlite3
/public/avatars/*
/public/files/*
/public/headers/*
/public/themes/*